<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1 align="center">Dashboard</h1>

    <div align="center">
        <h2 style= "background: gray;
                    color: #f2f2f2;
                    padding: 10px;">
        Order Status Distribution</h2>
        <img src="../order_status_distribution.png" alt="Order Status Distribution">
    </div>

    <div align="center">
        <h2 style= "background: gray;
                    color: #f2f2f2;
                    padding: 10px;">
        Product Category Distribution</h2>
        <img src="../product_category_distribution.png" alt="Product Category Distribution"  style = width:1000px;>
    </div>
</body>
</html>